<mat-toolbar class="priamry-color">
  <button mat-icon-button (click)="sideNav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <div class="mx-2">UserManagement</div>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sideNav mode="side">
    <mat-nav-list>
      <mat-list-item routerLink="/home">
        <img src="../../assets/home.svg" class="mx-2">
        Home
      </mat-list-item>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item routerLink="/users">
        <img src="../../assets/users.svg" class="mx-2">

        Users
      </mat-list-item>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item routerLink="/router">
        <img src="../../assets/router.svg" class="mx-2">
        
        Router</mat-list-item>
    </mat-nav-list>

    <mat-nav-list>
      <mat-list-item routerLink="/activity-log">
        <img src="../../assets/activity-log.svg" class="mx-2">
        
        Activity-Log</mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>